<div class="range">
  <!--<i class="icon ion-chevron-left"></i>-->
  <!--<i class="icon ion-chevron-right"></i>-->
  <a>NFS</a>
  <input type="range" name="volumeOne" min="1" max="15" value="200" ng-model="gifOptions.numFrames">
  {{gifOptions.numFrames}}fps
</div>

<div class="range">
  <!--<i class="icon ion-chevron-down"></i>-->
  <!--<i class="icon ion-chevron-up"></i>-->
  <a>Interval</a>
  <input type="range" name="volume" min="0.1" max="2.0" value="0.1" ng-model="gifOptions.interval">
  {{gifOptions.interval}}s
</div>
